body {
background: linear-gradient(violet,pink,lavender);height: 200vh;
    }
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    margin-top: 40px;
    margin-left: 20px;
}
h3{
    font-size: 20px;
  margin-bottom: 50px;
  justify-content: left;
  margin-right: 800px;
  font-family: cursive;
}
.welcome{
    margin-top: 0px;
}
.At{
    margin-top: 50px;
}
img{
    margin-left: 800px;
    margin-top: -400px;
}
